* {margin:0; padding: 0;}
html, body {height:100%;}

/** formata elementos que tem backgrounds parallax **/
.bgParallax {
    font-family: 'Elsie', cursive;
    color:#FFF;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
    min-height: 100%;
    text-shadow:0 0 10px rgba(0,0,0,0.7);

    background-position: 50% 0;
    background-repeat: repeat;
    background-attachment: fixed;
}

/* Define backgrounds dos divs */
#home {background: #019058;}
#produtos {background: #FFCC3F;}
#promocoes {background: #FFCC3F;}
#historia {background: #FFCC3F;}
#frota {background: #FFCC3F;}
#rodape{background: #00939A;}

/** Formata o article que vai o texto **/
.bgParallax article {
    width: 70%;
    text-align: center;
    margin:0 auto;
    padding:20% 0 0;
}

/** formata texto **/
article h1 {font-size:40px;}
article p {line-height: 30px; font-size:20px; margin-top:15px;}
article p a {color:#FFF; text-decoration:none; font-size:30px;}


a[id= "quemsomos"]:target ~ #main article.article {
    -webkit-transform: translateY( 0px);
    transform: translateY( 0px );
}

a[id= "missao"]:target ~ #main article.article {
    -webkit-transform: translateY( -500px );
    transform: translateY( -500px );
}

.div {
    width: 100%;
    height: 500px;
    z-index:0;
    -webkit-transform: translateZ( 0 );
    transform: translateZ( 0 );
    -webkit-transition: -webkit-transform 2s ease-in-out;
    transition: transform 2s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}